@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

.bg-lightgray {
  background-color: #EEEEEE;
}

.inside>* {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  padding: .5rem 1rem;
}

main {
  flex-grow: 1;
}

.footer-button {
  color: #212529;
  font-size: 20pt;
}

.contacts-icon {
  font-size: 13pt;
  color: #212529;
}

.active a {
  color: #5c6eff !important;
}

.big-text {
  font-size: 40pt;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.underline-urls a {
  text-decoration: underline;
}

.photo {
  float: right;
  animation-name: slideDown;
  animation-duration: .3s;
}

.ocean {
  transform: scale(0.5);
  float: none;
}

.nav-link {
  font-size: 1.1rem !important;
}

.jumbotron {
  background: url("../nuotraukos/ocean_dark.jpg"), url("../nuotraukos/ocean_dark_lowres.jpg");
}

.jumbotron * {
  transform-origin: left top;
  animation-name: slideDown;
  animation-duration: .3s;
}

.button {
  color: #FFFFFF !important;
  background-color: #5C6EFF !important;
  border-color: #5C6EFF !important;
}

.button:hover {
  background-color: #4f5edb !important;
  border-color: #4f5edb !important;
}

.button:active {
  background-color: #4351bf !important;
}

@keyframes slideDown {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@media screen and (min-width: 768px) {
  .display-md-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.modal-header {
  padding: 0 !important;
}

.close {
  z-index: 1;
  background-color: #ffffff !important;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 1.3rem !important;
  line-height: 0.05 !important;
}

.close span {
  margin-left: -0.35rem;
}

.modal-content {
  background-color: #00000000 !important;
  border-color: #00000000 !important;
}

.modal-content * {
  border-color: #00000000 !important;
}

.modal-body {
  padding: 0 !important;
}

.atvirutes-photo {
  max-width: 100%;
}

/* Panaikinti, panaikinus sniega: */
/* .snow-container {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 1031;
  pointer-events: none;
}

.snow {
  display: block;
  position: absolute;
  z-index: 1031;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  -webkit-animation: snow linear infinite;
  animation: snow linear infinite;
}

.snow.foreground {
  background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
}

.snow.foreground.layered {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

.snow.middleground {
  background-image: image-url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}

.snow.middleground.layered {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

.snow.background {
  background-image: image-url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}

.snow.background.layered {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

@-webkit-keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
    transform: translate3d(15%, 100%, 0);
  }
}

@keyframes snow {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: translate3d(15%, 100%, 0);
    transform: translate3d(15%, 100%, 0);
  }
} */
