@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

.bg-lightgray {
  background-color: #EEEEEE;
}

.inside>* {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  padding: .5rem 1rem;
}

main {
  flex-grow: 1;
}

.footer-button {
  color: #212529;
  font-size: 20pt;
}

.contacts-icon {
  font-size: 13pt;
  color: #212529;
}

.active a {
  color: #5c6eff !important;
}

.big-text {
  font-size: 40pt;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.underline-urls a {
  text-decoration: underline;
}

.photo {
  float: right;
  animation-name: slideDown;
  animation-duration: .3s;
}

.ocean {
  transform: scale(0.5);
  float: none;
}

.nav-link {
  font-size: 1.1rem !important;
}

.jumbotron {
  background: url("../nuotraukos/ocean_dark.jpg"), url("../nuotraukos/ocean_dark_lowres.jpg");
}

.jumbotron * {
  transform-origin: left top;
  animation-name: slideDown;
  animation-duration: .3s;
}

.button {
  color: #EEEEEE !important;
  background-color: #5C6EFF !important;
  border-color: #5C6EFF !important;
}

.button:hover, .button:active {
  color: #EEEEEE !important;
  background-color: #5C5FFF !important;
  border-color: #5C5FFF !important;
}

@keyframes slideDown {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

@media screen and (min-width: 768px) {
  .display-md-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

.modal-header {
  padding: 0 !important;
}

.close {
  background-color: #ffffff !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.3rem !important;
  line-height: 0.3 !important;
}

.modal-content {
  background-color: #00000000 !important;
  border-color: #00000000 !important;
}

.modal-content * {
  border-color: #00000000 !important;
}

.modal-body {
  padding: 0 !important;
}

.atvirutes-photo {
  max-width: 100%;
}
