@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

.bg-lightgray {
  background-color: #EEEEEE;
}

.inside>* {
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

html, body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
  padding: .5rem 1rem;
}

main {
  flex-grow: 1;
}

.footer-button {
  color: #212529;
  font-size: 20pt;
}

.contacts-icon {
  font-size: 13pt;
  color: #212529;
}

.active a {
  color: #5c6eff !important;
}

.big-text {
  font-size: 40pt;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.nuotrauka {
  transform: scale(0.7);
  float: right;
  transform-origin: top center;
}

.ocean {
  transform: scale(0.5);
  float: none;
}
