<footer class="bg-lightgray pt-4 mt-5 pb-2">
  <div class="container">
    <p class="text-left">
      <a href="https://m.me/1100491010160054?fbclid=IwAR3zIHm1s3ySX9FE1-ysqRiPjKcDRgCyMkg63_AyR6OzhLEpZuA0xkUvmE8"><i class="footer-button fab fa-facebook-messenger float-right ml-3"></i></a>
      <a href="https://www.facebook.com/Computantis-1100491010160054"><i class="footer-button fab fa-facebook-square float-right"></i></a>

      <a href="mailto:info@computantis.lt" class="mr-lg-3 d-block d-lg-inline text-nowrap"><i class="contacts-icon fas fa-envelope mr-1"></i> info@computantis.lt</a>
      <a href="https://m.me/1100491010160054?fbclid=IwAR3zIHm1s3ySX9FE1-ysqRiPjKcDRgCyMkg63_AyR6OzhLEpZuA0xkUvmE8" class="mr-lg-3 d-block d-lg-inline text-nowrap"><i class="contacts-icon fab fa-facebook-messenger mr-1"></i> Messenger @Computantis</a>
      <span class="mr-lg-3 d-block d-lg-inline text-nowrap"><i class="contacts-icon fas fa-phone mr-1"></i><a href="tel:+37061635381"> +370 616 35381</a><a href="tel:+37068255286"> +370 682 55286</a></span>
    </p>
  </div>
</footer>
